<div class="header mx-auto m-3">
  <h1 class = text-center>Drinks</h1>
</div>

<div class="cards m-3">

<% @cocktails.each do |cocktail| %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <span><%= link_to cocktail.name, cocktail_path(cocktail) %></span>
</div>

<% end %>

</div>


